<h2 id='title'>Zero clipboard text</h2>

{{zero-clipboard text="TEXT" label="LABEL"}}

<h2 id='title'>Zero clipboard from target element</h2>

{{zero-clipboard cbTarget="copy_this_element" label="LABEL"}}

<textarea name="" id="copy_this_element" cols="30" rows="10">
	For my part, I care not: I say little; but when
time shall serve, there shall be smiles; but that
shall be as it may. I dare not fight; but I will
wink and hold out mine iron: it is a simple one; but
what though? it will toast cheese, and it will
endure cold as another man's sword will: and
there's an end.
</textarea>


{{outlet}}